.block-edit-menu {
  display: flex;
  flex-direction: column;
  width: 750px;
  height: 100%;
  padding: 10px;
}
.btn-save {
  width: 400px;
  margin-bottom: 15px;
}
@media (max-width: 750px) {
  .block-edit-menu {
    width: 100%;
  }
  .btn-save {
    width: 100%;
  }
}
.box {
  position: relative;
}

.listWrapper {
  border: 1px solid gray;
  border-radius: 10px;
  max-height: 210px;
  max-width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.listWrapper::-webkit-scrollbar {
  display: block;
}
.upBlock {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
}
.twoBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.boxTitle {
  content: "Allergent";
  position: absolute;
  color: grey;
  background-color: white;
  font-size: 12px;
  padding: 0 3px;
  top: -5px;
  left: 15px;
  z-index: 1;
}
.bottomBlock {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  padding: 10px;
}
.blockBtn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.paddingInput {
  margin-bottom: 40px;
}
